<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
	  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
	  <link rel="stylesheet" href="/css/general_styling.css">
		<meta charset="UTF-8"> 
</head>

	<body>

			<nav>
				<ul>
					<li>
						<form action="/">						
					    <input type="submit" value="new game">
					  </form>
					</li>
				</ul>
			</nav>

		<section class="page">
			<div class="main_container">

				<h1 class="centered" id="title">Rock Paper Scissors</h1>
				<%= yield %>
			</div>
		</section>
	</body>
</html>