
.page {
	width:100vw;
	height:100vh;
	background-color: #0D2E4F;
}

.main_container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	/*background-color: #E0E0DF;*/

}

.centered {
	margin-right:auto;
  margin-left:auto;
  text-align: center;
  color:white
}

.Forms {
  
  width:32%;
 
  margin-right:auto;
	margin-left:auto;
	padding: 0%
}

#paper {  
	fill:red

}

#title {
	padding-top: 30px
}


/*button,
input {  
 	width:10%;
 	height:10%;
  
  background-color: red;
  margin-right:auto;
  margin-left:auto;
}*/